
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  min-height: 100vh;
  background: linear-gradient(rgba(10,10,30,0.7), rgba(20,0,40,0.9)),
  url("images\ \(1\).jpg") no-repeat center/cover;

  color: white;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 20px 60px;
}

.logo {
  font-family: 'Playfair Display', serif;
  font-size: 24px;
}

nav a {
  margin-left: 25px;
  text-decoration: none;
  color: white;
  transition: 0.3s;
}

nav a:hover {
  color: #c084fc;
}